* {
    box-sizing: border-box;
}

.parent {
    /* width: 100px; */
}

h3 {
    width: 100%;
    max-width: 300px;
}

img {
    width: 20%;
    max-width: 200px;
    min-width: 150px;
}

.gallery-item {
    width: 200px;
    height: 200px;
    background-color: tomato;
    margin-bottom: 12px;
}

.gallery-item img {
    /* width: 100%;
    max-height: 200px;
    min-height: 200px; */
    height: 200px;
    width: 200px;
    object-fit: contain;
}